<div class="container logo mb-5 mt-4">
    <div class="row">
        <a class="" href="/"><img src="/uploads/BlogWorld1.png" alt="Logo" width="80px" height="80px" class="d-inline-block align-text-top"> BlogWorld</a>
    </div>
</div>